#navbar {
  background: $white;
  padding-top: 0.5rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    margin: 0 1rem;
    color: $black;
  }

}